# This example file is tuned for development. For production please change relevant configs accordingly.

# App
# Current port usage:
# - npm run dev or build and start -> localhost:3000
# - local docker -> https://localhost with self-signed cert

APP_NAME="React Router Starter"
BASE_URL="" # Base url is auto generated in dev, leave blank. Only use for prod.
#BASE_URL="https://your.domain.here" # Change this to your domain in production (f.e. example.com). Don't forget to also change it inside your nginx config (server_name directive inside .nginx/prod/default.conf) and use Makefile to setup certbot ssl issueing with auto renewal.

# Deployment

DOCKER_APP_NAME="react-router-starter" # Used for docker image and container names. Don't use spaces or special characters.
NGINX_CONF="./nginx/dev/default.conf"
#NGINX_CONF="./nginx/prod/default.conf" # For prod change the server_name directive inside .nginx/prod/default.conf to point to your domain. Then use this env.

# SSL

SSL_DOCKER_MOUNT="./nginx/dev/ssl:/etc/nginx/dev/ssl:ro" # See Makefile for generating self-signed-certs for dev
#SSL_DOCKER_MOUNT="/etc/letsencrypt:/etc/letsencrypt:ro" # For prod use Makefile and below envs to setup certbot ssl issueing with auto renewal.
#CERTBOT_UPDATES_RECEIVER="someone@example.com"
#DOMAIN="your.domain.here" # Change this to your domain in production (f.e. example.com)

# Mailing

SYSTEM_MAIL_SENDER="info@example.com"
MAILER_HOST="127.0.0.1"
MAILER_PORT="1025"
# Auth is not used in development (Use this when connecting to real SMTP server in production.)
MAILER_USER=""
MAILER_PASS=""

# Whether bots can crawl our website. Important for SEO, but sometimes you want to disable it (stage environment, etc)
ALLOW_INDEXING="true"

# Analytics

# Matomo endpoint and site id for analytics. Only needed on staging and production. Add it temporarily on development if you want to test analytics.
# Matomo server (Docker): https://github.com/matomo-org/docker
MATOMO_URL=""
MATOMO_SITE_ID=""

# ### Secret env variables

# !!! Don't commit to git or share with anyone. Don't bake into docker images or hardcode them inside your code. !!!

# These are the comma separated secrets. Only the first is taken and you can rotate if compromised. Don't forget to invalidate the old leftovers in the users browser (f.e. old session cookie) if you rotate the secrets.
# Important: Generate new ones when creating your .env file. Use different ones on different environments (dev, stage, prod, ...)
# Important: Use cryptographically secure random bytes and encode as hex or base64. For example, on linux or mac with openssl installed, you can run `openssl rand -hex 64` to generate a 512-bit secret encoded as hex.

# Secrets for our browser sessions
SESSION_SECRETS="secret-hex-64-1,secret-hex-64-2,secret-hex-64-3,secret-hex-64-4"

# Secrets for honeypot (see lib/security/honeypot.server)
HONEYPOT_SECRETS="secret-hex-64-1,secret-hex-64-2,secret-hex-64-3,secret-hex-64-4"

# Secrets for CSRF (see lib/security/csrf.server)
CSRF_SECRETS="secret-hex-64-1,secret-hex-64-2,secret-hex-64-3,secret-hex-64-4"

# Secrets for message (see lib/utils/message.server)
MESSAGE_SECRETS="secret-hex-64-1,secret-hex-64-2,secret-hex-64-3,secret-hex-64-4"
