# This example file is tuned for development. For production please change relevant configs accordingly.
# Please always set your envs first and then run the setup-project command in the Makefile

# App
# Current port usage:
# - npm run dev or build and start -> localhost:3000
# - local docker -> https://localhost with self-signed cert

NODE_VERSION="24.14.0" # Change this to your desired Node.js version. Make sure to also update the .nvmrc file with the same version for consistency.
APP_NAME="React Router Starter"
BASE_URL="" # Base url is auto generated in dev, leave blank. Only use for prod.
#BASE_URL="https://your.domain.here" # Change this to your domain in production.

# Deployment

DOCKER_APP_NAME="react-router-starter" # Used for docker image and container names. Don't use spaces or special characters.

# SSL

SSL_DOCKER_MOUNT="./nginx/dev/ssl:/etc/letsencrypt:ro" # For dev we use our generated self-signed certs.
#SSL_DOCKER_MOUNT="/etc/letsencrypt:/etc/letsencrypt:ro" # For prod we use the certs issued by Let's Encrypt with certbot and auto renewal.
#CERTBOT_UPDATES_RECEIVER="someone@example.com"
DOMAIN="localhost" # For dev docker build
#DOMAIN="your.domain.here" # Use your actual domain in production

# Mailing

SYSTEM_MAIL_SENDER="developer@example.com"
MAILER_HOST="localhost"
MAILER_PORT="1025"
# Auth is not used in development (Use this when connecting to real SMTP server in production.)
MAILER_USER=""
MAILER_PASS=""

# Whether bots can crawl our website. Important for SEO, but sometimes you want to disable it (stage environment, etc)
ALLOW_INDEXING="true"

# Analytics

# Matomo endpoint and site id for analytics. Only needed on staging and production. Add it temporarily on development if you want to test analytics.
# Matomo server (Docker): https://github.com/matomo-org/docker
MATOMO_URL=""
MATOMO_SITE_ID=""

# ### Secret env variables

# !!! Don't commit to git or share with anyone. Don't bake into docker images or hardcode them inside your code. !!!

# These are the comma separated secrets. Only the first is taken and you can rotate if compromised. Don't forget to invalidate the old leftovers in the users browser (f.e. old session cookie) if you rotate the secrets.
# Important: Generate new ones when creating your .env file. Use different ones on different environments (dev, stage, prod, ...)
# Important: Use cryptographically secure random bytes and encode as hex or base64. For example, on linux or mac with openssl installed, you can run `openssl rand -hex 64` to generate a 512-bit secret encoded as hex.

# Secrets for our browser sessions
SESSION_SECRETS="secret-hex-64-1,secret-hex-64-2,secret-hex-64-3,secret-hex-64-4"

# Secrets for honeypot (see lib/security/honeypot.server)
HONEYPOT_SECRETS="secret-hex-64-1,secret-hex-64-2,secret-hex-64-3,secret-hex-64-4"

# Secrets for CSRF (see lib/security/csrf.server)
CSRF_SECRETS="secret-hex-64-1,secret-hex-64-2,secret-hex-64-3,secret-hex-64-4"

# Secrets for message (see lib/utils/message.server)
MESSAGE_SECRETS="secret-hex-64-1,secret-hex-64-2,secret-hex-64-3,secret-hex-64-4"
