@import "tailwindcss";

@theme {
  --breakpoint-sm: 600px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --font-sans:
    "Source Sans Pro", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  @font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/source-sans-pro-latin-400-normal.woff");
  }
  @font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/source-sans-pro-latin-600-normal.woff");
  }
  @font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/source-sans-pro-latin-700-normal.woff");
  }
  @font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/source-sans-pro-latin-900-normal.woff");
  }

  html {
    scroll-behavior: smooth;
  }
}
